<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.oldtown.modules.com.mapper.ComPoiMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.oldtown.modules.com.model.ComPoi">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="code" property="code" />
        <result column="address" property="address" />
        <result column="contact" property="contact" />
        <result column="tel" property="tel" />
        <result column="picture_url" property="pictureUrl" />
        <result column="intro" property="intro" />
        <result column="longitude" property="longitude" />
        <result column="latitude" property="latitude" />
        <result column="model_id" property="modelId" />
        <result column="deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="remarks" property="remarks" />
    </resultMap>

</mapper>
