<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.oldtown.modules.xcx.mapper.XcxUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.oldtown.modules.xcx.model.XcxUser">
        <id column="id" property="id" />
        <result column="open_id" property="openId" />
        <result column="mobile" property="mobile" />
        <result column="gender" property="gender" />
        <result column="nickname" property="nickname" />
        <result column="country" property="country" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="avatar_url" property="avatarUrl" />
        <result column="online" property="online" />
        <result column="create_time" property="createTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

</mapper>
