package ${package.Service};
import ${package.Entity}.${entity};
import ${superServiceClassPackage};
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import $!{cfg.pkg}.common.api.CommonResult;
import java.util.List;

/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.serviceName} : ${superServiceClass}<${entity}>
#else
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {

    #set ($ent = $entity.substring(0,1).toLowerCase() + $entity.substring(1,$entity.length()))

    /**
    * 分页查询$!{table.comment}
    */
    CommonResult getAll(Integer pageSize, Integer pageNum, String keyword);

    /**
     * 增加$!{table.comment}
     */
    CommonResult add(${entity} ${ent});

    /**
     * 更新$!{table.comment}
     */
    CommonResult update(${entity} ${ent});

    /**
     * 删除$!{table.comment}
     */
    CommonResult delete(Long id);

    /**
     * 批量删除$!{table.comment}
     */
    CommonResult batchDelete(List<Long> ids);
}
#end
